

.buttons-container {
    margin-top: 34px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.btn-submit-story {
    background: linear-gradient(90deg, #ffffff -140.14%, #87e37b 100%);
    color: white;
    width: 360px;
    height: 70px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Unbounded';
    font-size: 18px;
}
.btn-text {
    font-family: 'Unbounded';
    font-weight: 300;
    font-size: 20.99px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}
.btn-view-stories {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    width: 292px;
    height: 70px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Unbounded';
    font-size: 18px;
}
